In [2]:
import pandas as pd
import json

In [282]:
beauty = []
for line in open('amazon_data/meta_Beauty.json', 'r'):
    beauty.append(json.loads(json.dumps(line.replace("'",'"'))))

beauty_df = []

for i in beauty:
    try:
        beauty_df.append(json.loads(i)['title'])
    except Exception:
        pass

In [283]:
beauty_df = list(set(beauty_df))
beauty_df = pd.DataFrame(beauty_df)
beauty_df['type'] = 'beauty'
beauty_df.head()

                                                   0    type
0   Jessica GELeration - Sweet Breath - 0.5oz / 15ml  beauty
1  Monroe Margaux Daily Brush Grand Model No. M25250  beauty
2  Olay Professional Pro-X Advanced Cleansing Sys...  beauty
3  Mac Studio Moisture Tint SPF 15 1.3 Oz - Mediu...  beauty
4  O.P.I MINI Nail Lacquer Set 5 - Take Ten Nude ...  beauty

In [289]:
book = []
    
for line in open('amazon_data/meta_Books.json', 'r'):
    book.append(json.loads(json.dumps(line.replace("'",'"'))))
    
book_df = []

for i in book:
    try:
        book_df.append(json.loads(i)['title'])
    except Exception:
        pass 
    
book_df = list(set(book_df))
book_df = pd.DataFrame(book_df)
book_df['type'] = 'book'
book_df.head()

                                                   0  type
0  The Enneagram for the Spirit: How to Make Peac...  book
1  Cocker Spaniels, For the Love of 2008 Deluxe W...  book
2     Pure Heart Volume 1 (Yaoi) (Yaoi Manga) (v. 1)  book
3                        The Charles Vanguard Affair  book
4           World War II Memoirs of a Railroad Soldi  book

In [151]:
electro = []
    
for line in open('amazon_data/meta_Electronics.json', 'r'):
    electro.append(json.loads(json.dumps(line.replace("'",'"'))))
    
electro_df = []

for i in electro:
    try:
        electro_df.append(json.loads(i)['title'])
    except Exception:
        pass 
     
len(electro_df)

321912

In [296]:
home = []
home_catogory = []   
for line in open('amazon_data/meta_Home_and_Kitchen.json', 'r'):
    home.append(json.loads(json.dumps(line.replace("'",'"'))))

home_df = []

for i in home:
    try:
        home_df.append(json.loads(i)['title'])
        #home_catogory.append(json.loads(i)['categories'])
        
    except Exception:
        pass

In [297]:
home_df = list(set(home_df))
home_df = pd.DataFrame(home_df)
home_df['type'] = 'houseware'
home_df.head()

                                                   0       type
0  3-5/8&quot; Tall Replacement Bed Frame Glide F...  houseware
1  Akro-Mils 30420 Dividable Plastic Storage Nest...  houseware
2    Swissmar SlimLine Cheese Knife, Stainless Steel  houseware
3  Celestial Seasonings Raspberry Zinger Tea Bags...  houseware
4                      Screen Gems Union Jack Screen  houseware

In [157]:
Clothing_Shoes_and_Jewelry = []
    
for line in open('amazon_data/meta_Clothing_Shoes_and_Jewelry.json', 'r'):
    Clothing_Shoes_and_Jewelry.append(json.loads(json.dumps(line.replace("'",'"'))))

Clothing_Shoes_and_Jewelry_df = []
catogory = []

for i in Clothing_Shoes_and_Jewelry:
    try:
        Clothing_Shoes_and_Jewelry_df.append(json.loads(i)['title'])
        catogory.append(json.loads(i)['categories'])
    except Exception:
        pass

In [251]:
new_df = pd.DataFrame(Clothing_Shoes_and_Jewelry_df)

In [252]:
new_df['categories'] = catogory

In [254]:
new_df.categories = new_df.categories.apply(
    lambda x: [item for sublist in x for item in sublist])

In [342]:
new_df.head()

                                                   0  type
0          10lb. Organic, Sprouted White Wheat Flour  food
1   WATKINS Ground Black Pepper, 4-Ounce (Pack of 6)  food
2  Jell-O Sugar Free Gelatin Sampler (Pack of 8 D...  food
3  Lalvin Wine Yeast 71B 1122 Yeast 10 Packs (Str...  food
4  Snoqualmie Falls Nutra Rich Pancake Mix, 24-Ou...  food

In [256]:
new_df.columns = ['name', 'categories']

In [257]:
test = new_df.drop_duplicates(subset ="name")

In [314]:
divide = test

In [315]:
for index, i in divide.iterrows():
    if 'Shoes' in i.categories:
        divide.loc[index, 'type'] = 'shoes'
    elif 'Accessories' in i.categories:
        divide.loc[index, 'type'] = 'accessories'
    elif 'Watches' in i.categories:
        divide.loc[index, 'type'] = 'watches'
    elif 'Jewelry' in i.categories:
        divide.loc[index, 'type'] = 'jewelry'
    elif 'Luggage' in i.categories:    
        divide.loc[index, 'type'] = 'luggage'
    else: 
        divide.loc[index, 'type'] = 'clothing'

KeyboardInterrupt:

In [348]:
watches = []
for index, i in divide.iterrows():
    if 'Watches' in i.categories:
        watches.append(divide.loc[index, 'name'])

In [349]:
watches = pd.DataFrame(watches)
watches['type'] = 'watches'
watches.to_csv('watches.csv', index = None)

In [350]:
len(watches)

16941

In [324]:
shoes_df = divide[divide.type == 'shoes']
jewelry_df = divide[divide.type == 'jewelry ']
accessories_df = divide[divide.type == 'accessories']
clothing_df = divide[divide.type == 'clothing']
watches_df = divide[divide.type == 'watches']

In [281]:
test_df = pd.DataFrame(test)
test_df['type'] = 'Clothing, Shoes & Jewelry'
test_df.drop(columns = 'categories', inplace = True)
test_df.head()

,name,type
0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,"Clothing, Shoes & Jewelry"
1,Ballet Dress-Up Fairy Tutu,"Clothing, Shoes & Jewelry"
2,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,"Clothing, Shoes & Jewelry"
3,Lantin White Visor Wrap Around Ski Style Aviat...,"Clothing, Shoes & Jewelry"
4,Kismeth Eyewear Classic Large Top Gun Aviator ...,"Clothing, Shoes & Jewelry"

In [260]:
test.to_csv('new_df.csv', index = None)

In [214]:
sport = []

for line in open('amazon_data/meta_Sports_and_Outdoors.json', 'r'):
    sport.append(json.loads(json.dumps(line.replace("'", '"'))))

sport_df = []

for i in sport:
    try:
        sport_df.append(json.loads(i)['title'])
    except Exception:
        pass

len(sport_df)

295892

In [275]:
sport_df= list(set(sport_df))
sport_df = pd.DataFrame(sport_df)
sport_df['type'] = 'sports'
sport_df.head()

                                                   0    type
0  Black Mountain Products New Set of 2 Resistanc...  sports
1   NCAA Kansas Jayhawks Comfy Throw Snuggie Blanket  sports
2                     Universal Sword Hanger/Display  sports
3  New Era Montreal Expos Gray Comeback 9FIFTY Sn...  sports
4     University Of North Carolina Ultra Decal 11x17  sports

In [215]:
tools = []

    
for line in open('amazon_data/meta_Tools_and_Home_Improvement.json', 'r'):
    tools.append(json.loads(json.dumps(line.replace("'",'"'))))

tools_df = []

for i in tools:
    try:
        tools_df.append(json.loads(i)['title'])
    except Exception:
        pass
                        
len(tools_df)

171576

In [274]:
tools_df = list(set(tools_df))
tools_df = pd.DataFrame(tools_df)
tools_df['type'] = 'tools'
tools_df.head()

                                                   0   type
0                       Euro Style Lalla Lamp, White  tools
1           Professional Water Pump Pliers (10-Inch)  tools
2  Pro-Force VPF1581719 17-Gallon Oil Free Air Co...  tools
3                   Cooper Wiring C-386 Closet Light  tools
4  Blazer Self-Igniting Butane Micro-Torch The Or...  tools

In [218]:
Accessories = []

for line in open('amazon_data/meta_Cell_Phones_and_Accessories.json', 'r'):
    Accessories.append(json.loads(json.dumps(line.replace("'",'"'))))

Accessories_df = []

for i in Accessories:
    try:
        Accessories_df.append(json.loads(i)['title'])
    except Exception:
        pass
                        
len(Accessories_df)

250965

In [261]:
health = []

for line in open('amazon_data/meta_Health_and_Personal_Care.json', 'r'):
    health.append(json.loads(json.dumps(line.replace("'",'"'))))

health_df = []

for i in health:
    try:
        health_df.append(json.loads(i)['title'])
    except Exception:
        pass
                        
len(health_df)

172175

In [273]:
health_df = list(set(health_df))
health_df = pd.DataFrame(health_df)
health_df['type'] = 'healthcare'
health_df.head()

                                               0        type
0        Kotex Natural Balance Maxi, Long  Super  healthcare
1  American Home K2R 33001 Spot Remover, 5-Ounce  healthcare
2  Hanbul Reorom Duble Action Gold Massage Cream  healthcare
3      Ayr Mentholated Vapor Inhaler (Pack of 4)  healthcare
4          Polar Wear Link Nike+ Transmitter Set  healthcare

In [262]:

food = []

for line in open('amazon_data/meta_Grocery_and_Gourmet_Food.json', 'r'):
    food.append(json.loads(json.dumps(line.replace("'",'"'))))

food_df = []

for i in food:
    try:
        food_df.append(json.loads(i)['title'])
    except Exception:
        pass
                        
len(food_df)

110892

In [272]:
food_df = list(set(food_df))
food_df = pd.DataFrame(food_df)
food_df['type'] = 'food'
food_df.head()

                                                   0  type
0          10lb. Organic, Sprouted White Wheat Flour  food
1   WATKINS Ground Black Pepper, 4-Ounce (Pack of 6)  food
2  Jell-O Sugar Free Gelatin Sampler (Pack of 8 D...  food
3  Lalvin Wine Yeast 71B 1122 Yeast 10 Packs (Str...  food
4  Snoqualmie Falls Nutra Rich Pancake Mix, 24-Ou...  food

In [288]:
pet = []

for line in open('amazon_data/meta_Pet_Supplies.json', 'r'):
    pet.append(json.loads(json.dumps(line.replace("'",'"'))))

pet_df = []

for i in pet:
    try:
        pet_df.append(json.loads(i)['title'])
    except Exception:
        pass
    
pet_df = list(set(pet_df))
pet_df = pd.DataFrame(pet_df)
pet_df['type'] = 'pet supplies'
pet_df.head()

                                                   0          type
0                           Coleman Pet Bone Lounger  pet supplies
1                             Kooka Catnip Tub - 1oz  pet supplies
2  Polly`s Manu Mineral Block for Birds (Small Ho...  pet supplies
3                         LazyBonezz Cat Scratch Pad  pet supplies
4  Pedigree Dentastix Fresh Oral Care Treats for ...  pet supplies

In [303]:
food_df.columns = ['name', 'type']
sport_df.columns = ['name', 'type']
tools_df.columns = ['name', 'type']
beauty_df.columns = ['name', 'type']
home_df.columns = ['name', 'type']
pet_df.columns = ['name', 'type']
book_df.columns = ['name', 'type']

In [325]:
pdList = [food_df, sport_df, tools_df, shoes_df, jewelry_df, accessories_df, clothing_df,
          watches_df, beauty_df, home_df, pet_df, book_df]  # List of your dataframes
whole_df = pd.concat(pdList)

/anaconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [328]:
whole_df.drop(columns = 'categories').head()

                                                name  type
0          10lb. Organic, Sprouted White Wheat Flour  food
1   WATKINS Ground Black Pepper, 4-Ounce (Pack of 6)  food
2  Jell-O Sugar Free Gelatin Sampler (Pack of 8 D...  food
3  Lalvin Wine Yeast 71B 1122 Yeast 10 Packs (Str...  food
4  Snoqualmie Falls Nutra Rich Pancake Mix, 24-Ou...  food

In [329]:
whole_df.type.value_counts()

book            1159456
sports           275502
houseware        255874
tools            170352
beauty           168651
food             110411
pet supplies      61370
clothing          21002
accessories        8120
shoes              3328
watches            2016
Name: type, dtype: int64

In [330]:
whole_df.to_csv('whole_df.csv', index = None)